<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Donation Management</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="donationrequest" class="nav-link">Create Request</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngolist" class="nav-link"> NGO Notification</a>
      </li>
    <li class="nav-item">
        <a routerLink="donorlist" class="nav-link"> Donor requests</a>
      </li> 
    </div> 
  </nav>

