<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Donation Management</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="donations" class="nav-link">List Donations</a>
      </li>
      <li class="nav-item">
        <a routerLink="donregister" class="nav-link">Add Donation</a>
      </li>
      <li class="nav-item">
        <a routerLink="donordonation" class="nav-link"> Donor Donations</a>
      </li>  
      <li class="nav-item">
        <a routerLink="ngodonation" class="nav-link"> NGO Donations</a>
      </li>  
    </div>
  </nav>
