<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Donation Management</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="donors" class="nav-link">Donor</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngos" class="nav-link">NGO</a>
      </li>
      <li class="nav-item">
        <a routerLink="donations" class="nav-link">Donation</a>
      </li>
      <li class="nav-item">
        <a routerLink="donationrequest" class="nav-link">Donation Request</a>
      </li>
    </div>
  </nav>
