<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Donation Management</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="donors" class="nav-link">List Donors</a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">Register Donors</a>
      </li>
     <li class="nav-item">
        <a routerLink="ngodonors" class="nav-link">NGO's Donor List</a>
      </li> 
    </div>
  </nav>

