<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Donation Management</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="ngos" class="nav-link">List Ngos</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngoregister" class="nav-link">Register NGOS</a>
      </li>
   <!--   <li class="nav-item">
        <a routerLink="ngodonors" class="nav-link">NGO's Donor List</a>
      </li> -->
    </div> 
  </nav>
